#about
	width 30%
	margin 10px 35px
	float left
	img
		display block
		width 100%
		border-radius 10px

#about2
	width 30%
	margin 10px 35px
	float left
	h1
		margin 5px 0 20px -10px
.clear
	margin-bottom 125px