body
	background gray
	color #fff
	font-family 'Helvetica'
	font-weight: lighter
	margin: 0
	padding: 0

nav
	font-size 13px
	#twitter, #facebook, #github
		width 26px
		background-color #fff
	ul
		li 
			display inline-block
			margin 5px 10px