#wallpaper
	margin 0 0 125px 0
	line-height 0
	width 95%
	img
		width 140px
		margin 0.5%
		border-radius 3px

header
	-webkit-animation header_slideup 1s 2s forwards

@media (max-width: 820px)
	#wallpaper
		text-align center
		img 
			width 90px
	header
		-webkit-animation none

