extends layout

block init
	- var articles = _.chain(contents.blog._.directories).map(function(item) {
	- 	return item._.directories.map(function(item) {
	- 		return item._.directories.map(function(item) {
	- 			return item['index.md']
	-			})
	-		})
	- }).flatten().sortBy(function(item) {
	- 	return -item.date
	- }).value()

block stylesheets
	link(rel="stylesheet", type="text/css", href="/styles/articles.css")


block content
	#hint Alte Artikel gibt es auf 
		a(href="http://old.lundner.com") old.lundner.com
	#articles
		ul
			each article in articles
				li
					if article.image
						img(src="#{article.image}")
					h1
						a(href="#{article.url}") #{article.title}
	.clear


