extends layout

block init
	- page.metadata.active = "blog"

block content
	#page
		section
			article
				if page.metadata.title
					h1 #{page.metadata.title}
					h2 #{page.metadata.date}
				!= page.html