footer
	//- span Design und Umsetzung lundner.com
	img.me(src="/images/lundner.jpg")
	a(href="/")
		img.social(src="/images/twitter_circle.svg")
	a(href="/")
		img.social(src="/images/facebook_circle.svg")
	a(href="/")
		img.social(src="/images/github_circle.svg")
	// a(href="/")
		img.social(src="/images/google_circle.svg")
	// a(href="/")
		img.social(src="/images/skype_circle.svg")
	a(href="/")
		img.social(src="/images/email_circle.svg")
	.clear