footer 
	img.me(src="/images/lundner.jpg")
	a(href="/")
		img.social(src="/images/twitter_circle.svg")
	a(href="/")
		img.social(src="/images/facebook_circle.svg")
	a(href="/")
		img.social(src="/images/github_circle.svg")
	.clear