nav
	ul
		li Hauptseite
		li Wallpaper
		li Kontakt &amp; Impressum
		li 
			img#twitter(src="/images/twitter.svg")
		li 
			img#facebook(src="/images/facebook.svg")
		li 
			img#github(src="/images/github.svg")
hr