nav
	ul
		li
			a(href="/", class=(page.metadata.active==="main"?"active":"")) Hauptseite
		li 
			a(href="/blog/", class=(page.metadata.active==="blog"?"active":"")) Blog
		li 
			a(href="/wallpaper/", class=(page.metadata.active==="wallpaper"?"active":"")) Wallpaper
		li 
			a(href="/contact/", class=(page.metadata.active==="contact"?"active":"")) Kontakt