extends layout

block stylesheets
	link(rel="stylesheet", type="text/css", href="/styles/wallpaper.css")

block content
	#wallpaper
		img.thumb(src="/images/rect1.jpg")
		img.thumb(src="/images/rect2.jpg")
		img.thumb(src="/images/rect3.jpg")
		img.thumb(src="/images/rect4.jpg")
		img.thumb(src="/images/rect5.jpg")
		img.thumb(src="/images/rect6.jpg")
		img.thumb(src="/images/rect7.jpg")
		img.thumb(src="/images/rect8.jpg")
		img.thumb(src="/images/rect9.jpg")
		img.thumb(src="/images/rect10.jpg")
		img.thumb(src="/images/rect11.jpg")
		img.thumb(src="/images/rect12.jpg")
		img.thumb(src="/images/rect13.jpg")
		img.thumb(src="/images/rect14.jpg")
		img.thumb(src="/images/rect15.jpg")
		img.thumb(src="/images/rect16.jpg")
		img.thumb(src="/images/rect17.jpg")
		img.thumb(src="/images/rect18.jpg")
		img.thumb(src="/images/rect19.jpg")
		img.thumb(src="/images/rect20.jpg")
		img.thumb(src="/images/rect21.jpg")
		img.thumb(src="/images/rect22.jpg")
		img.thumb(src="/images/rect23.jpg")
		img.thumb(src="/images/rect24.jpg")
		img.thumb(src="/images/rect25.jpg")
		img.thumb(src="/images/rect26.jpg")
		img.thumb(src="/images/rect27.jpg")
		img.thumb(src="/images/rect28.jpg")